@import url(base.css);

.entry-title::after {
    margin-bottom: 0;
}

.date {
    text-align: center;
}

.date::after {
    content         : "";
    display         : block;
    width           : 40px;
    height          : 2px;
    background-color: var(--light);
    margin          : 1rem auto 2.5rem;
}

.post-thumbnail, .post img {
    width: 100%;
}
